.main_background{
    background-image:
     url("https://raw.githubusercontent.com/ProgrammingHero1/ProgrammingHero1/main/image/banner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    height:500px;
    position: relative;
  }

   .exam-section-bg{
    background-image: url("../../public/asset/purple-bg.png");
    background-size: cover;
    background-repeat: no-repeat;


   }
   .welcome-section-bg{
    background-image: url("../../public/asset/red-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
   }
   .login-section-bg{
    background-image: url("../../public/asset/bg-yellow.png");
    background-repeat: no-repeat;
    background-size: cover;
   }

   .red-section-bg{
    background-image: url("../../public/asset/red-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
   }
  .bg-login{
    background-image: url("../../public/asset/bg-login.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .footer-bg{
    background-image: url("../../public/asset/footer-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .sectionOne_background{
    background-image:  linear-gradient(rgba(231, 227, 3, 0.898), rgba(253, 255, 148, 0.829)),
     url("https://eamu.edu.kh/wp-content/uploads/2022/09/Student-Librarian-Duty-1.jpg");
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover; 
    position: relative;
  }

  .examlist::-webkit-scrollbar{
   width: 5px;
  }
  .examlist::-webkit-scrollbar-track{
   box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
  }

  .examlist::-webkit-scrollbar-thumb{
   background-color:rgb(233, 233, 233);
   border-radius: 10px;
  
  }

  .about-hero{
    background-image:linear-gradient(rgb(255, 255, 255, 0.189),rgba(15, 13, 13, 0.893)),
    url("https://eamu.edu.kh/wp-content/uploads/2022/09/Student-Librarian-Duty-1.jpg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover; 
  }

.contact-hero{
  background-image:
  url("https://i0.wp.com/businessday.ng/wp-content/uploads/2021/01/Untitled-design-2021-01-26T153614.153.png?fit=700%2C400&ssl=1");
 background-position: center;
 background-repeat: no-repeat;
 height:500px;
 background-size: cover; 
  position: relative;
}

@media  screen and (max-width:640px) {

 .main_background{
    background-image:/* linear-gradient(rgba(146, 93, 231, 0.898), rgba(99, 15, 177, 0.829)), */
     url("https://cdn.nrf.com/sites/default/files/styles/crop_1440_700/public/2021-03/shutterstock_658847998.jpg?itok=S6aLTAcl");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
     position: relative;
     height: 20rem;
    
     
  }
  .about-hero{
    background-image:/* linear-gradient(rgba(146, 93, 231, 0.898), rgba(99, 15, 177, 0.829)), */
     url("https://eamu.edu.kh/wp-content/uploads/2022/09/Student-Librarian-Duty-1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
     position: relative;
     height: 20rem;
  }
  
}


audio::-webkit-media-controls-panel{
  background-color: #f3f4f6;
  z-index: 0;
  position: relative;
 
 

}





