@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
    font-family: 'Poppins' ;
    src: url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&display=swap');
}

@layer base {
    body {
        font-family: 'Roboto', sans-serif;
    }

    
}

@layer components {


    /* loginForm */
    .Section_login_oneStyle_1{
       @apply  dark:bg-gray-900 bg-gray-50 
    }

    .loginform_Styletwo_2{
        @apply flex flex-col items-center justify-center mx-auto h-screen md:h-screen lg:py-0
    }

    .loginform_stylethree_3 {
     @apply w-full md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700 relative
    }
    .loginform_style_line_left_4{
      @apply bg-blue-900 px-[17%] py-[2px] absolute translate-x-10 translate-y-10 bottom-14 rounded-bl-[2px]
    }
    .loginform_style_line_right_5{
        @apply bg-yellow-400 px-[25%] py-[2px] absolute translate-x-10  translate-y-10 right-20 bottom-14  rounded-br-[2px]
    }
    .loginform_main_style_box_6{
        @apply p-6 space-y-1 md:space-y-3  my-5 md:mx-10  md:bg-white md:p-8 rounded-sm
    }
    .loginform_header_style_box_7{
        @apply text-xl 
        font-medium leading-tight mb-2 tracking-tight text-gray-900 md:text-2xl dark:text-white 
    }

    .loginform_paragraph_style_box_8{
        @apply font-medium
    }

    .loginform_form_style_box_9{
        @apply space-y-4 md:space-y-6 my-6  mt-10
    }
    .loginform_lable_style_box_10{
        @apply block mb-2 text-sm font-medium text-gray-900
        dark:text-white
    }
    .loginform_error_paragraph_style_box_11{
        @apply text-[10px] my-[5px] font-extralight
    }
    .loginform_button_style_box_13 {
        @apply  w-full bg-blue-800 rounded-sm
         text-white  focus:ring-4 focus:outline-none 
         font-medium text-sm px-5 py-3 text-center 
    }



    .loginform_input_style_box_12{
       @apply  text-gray-900 rounded-[4px]  border-slate-900  bg-gray-100
        sm:text-sm block w-full py-2  md:py-3  px-2 dark:bg-gray-700
         dark:border-gray-600 dark:placeholder-gray-400
          dark:text-white text-[20px] font-medium tracking-wider
    }

    .paraStyle{
        @apply text-sm text-start font-light  dark:text-gray-400 text-blue-500
    }



    /*login form style*/


    /* Registration */

.registration_container_style--01{
@apply container mx-auto max-w-[100rem] py-4
}
.divstlye_registrationOfheader_style--01-1{
    @apply px-6 py-2 text-base 
}
.registration_header_style--headertext--02{
    @apply font-medium text-xl relative leading-tight
}
.regist_inputstlye-style-forminput-02{
    @apply  border border-gray-300
     text-gray-900 text-sm rounded-sm focus:ring-blue-500
      focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700
       dark:border-gray-600
     dark:placeholder-gray-400
      dark:text-white dark:focus:ring-blue-500
       dark:focus:border-blue-500
}
.registration_box_style--basisstyle-03{
@apply basis-1/2 px-4 py-2
}
.regist_headerOftype_style--header-box--04{
    @apply font-medium leading-tight text-base mt-0 mb-2 text-purple-700 border-b-[1px] border-purple-100
}

.flexofinputtpye_registration_flex-style--04{
    @apply flex space-x-4 py-2
}
.regist_lablestyle-style-05{
   @apply text-base font-medium leading-relaxed mt-0  text-gray-800 text-[12px]
}

.regist_textarea-style0-06{
    @apply block p-2.5 mt-2 w-full text-sm text-gray-900
      rounded-sm border border-gray-300
      focus:ring-blue-500 focus:border-blue-500
       dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
     dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500
}
.regist_btnstyle-submint-07{
    @apply inline-block px-6 py-2.5
     bg-purple-700 text-white font-medium text-xs 
     leading-tight uppercase rounded shadow-md
      hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700
       focus:shadow-lg focus:outline-none focus:ring-0
     active:bg-blue-800 active:shadow-lg transition 
     duration-150 ease-in-out
}

.select_gender-rigstration-form_style-02{
    @apply border
    text-gray-900 text-sm rounded-sm
    focus:ring-blue-500
     focus:border-blue-500 block w-full p-2.5
      dark:bg-gray-700
       dark:border-gray-600
       dark:placeholder-gray-400
       dark:text-white
        dark:focus:ring-blue-500
        dark:focus:border-blue-500
}
    
    /* Registration */

    /* sectionOneStyle */
    .sectionOne_Colunm{
        @apply overflow-hidden rounded-sm 
        }
     
    .section_grid{
       @apply py-10 px-5 grid grid-flow-row  rounded-md border-[1px]
    }
    .description{
        @apply font-semibold text-lg mb-2 py-4  border-b-[1px]
    }
    .paraStyleLandingpage{
        @apply space-x-2 space-y-2 
    }
    .learn_moreLink{
        @apply py-5 text-yellow-800 font-semibold text-sm
    }

/*headerbarof exam*/

.maindiv {
    @apply tracking-wider
}

.buttondropdown{
    @apply flex-shrink-0 z-10 inline-flex items-center py-1 px-2 text-sm  text-[14px] text-center
    text-gray-600   hover:bg-gray-200 focus:ring-4
     focus:outline-none focus:ring-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-700
      dark:text-white dark:border-gray-600 
}
.buttondropdown-flex-style{
    @apply flex space-x-2
}

.dropdownpanel-style{
  @apply z-10 relative dark:bg-gray-700

}

.dropdownlist-style{
    @apply py-2 divide-y-[1px] mt-2 mx-auto text-sm text-gray-700 rounded-md border-[1px]
    dark:text-gray-200 bg-white md:w-[15rem] right-3 absolute 
}

.headerlist-style {
    @apply md:mr-2 md:px-1.5 px-0 border-[1px] sm:mr-3 mr-[2px] rounded-full list-none
}
.atagheaderlist-style{
    @apply inline-flex font-normal
    md:text-gray-600   text-[12px]  border-[1px] rounded-lg px-[4px] md:text-[14px] items-center md:space-x-2
    py-[1px] md:bg-gray-50  md:px-2 rounded-t-lg border-b-2 border-transparent
       hover:text-gray-600  dark:hover:text-gray-300 cursor-pointer 
}

.headerbar-main-style {
    @apply md:flex justify-between items-center text-sm py-1.5 border-b md:p-0  text-center text-gray-800
    border-gray-200 dark:text-gray-400 dark:border-gray-700 md:mt-5
}
.ultag-headerbar-style {
    @apply flex justify-between w-full  md:flex-wrap md:flex-row -mb-px md:justify-between md:py-2
}
.divtag-hearlist-style{
@apply flex flex-wrap -mb-px order-1 md:border-b-[1px] md:border-none 
}

.dropList-Link-style {
    @apply inline-flex  text-[12px] w-full px-4 py-1.5 text-gray-800 tracking-wide
} 
.divtag-dropdown-button-style{
    @apply flex items-center px-2 justify-center md:justify-center order-2 md:order-last py-4 md:py-0 
}




}











