@tailwind base;
@tailwind components;
@tailwind utilities;




*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.App{
    position: relative;    
}



@layer base {
    body {
        font-family: 'Roboto', sans-serif;
    }

    
}













